.background {
  position: absolute;
  top: 0;
  transition: all 300ms ease;
  background-position: center;
  background-size: cover
}

.contentContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0;
  color: #fff;
  z-index: 3;
  -webkit-transition: -webkit-transform 200ms ease;
  -webkit-transition: transform 200ms ease;
  transition: all 300ms ease;
}

.logoContainer {
  position: relative;
  width: 200px;
  min-height: 200px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease;
  -webkit-transition: transform 200ms ease;
  transition: transform 200ms ease;
}
  .logoContainer:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%;
}

.detailsContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-in 300ms;
  max-width: 600px;
  padding: 30px 20px
}